//Imports
@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-image: linear-gradient(to right, #85b4e9 0%, #bed3eb 50%, #d0d5f3 100%);
}

.title{
    justify-content: center;
    align-items: center;
    display: flex;
}

.todo-form{
    justify-content: center;
    align-items: center;
    display: flex;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-element{
margin: 0.5rem;
  background: white;
  font-size: 1.5 rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: solid rgb(14, 14, 141);
  border-width: 2px;
}
